body {
    font-family: "Montserrat", sans-serif;
    background-color:#131313;
    overflow: hidden;
}

/* Background canvas fixed  */

.App_Background {
    background-color:#131313;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}

.App_Background-hidden {
    opacity: 0;
}

/* Structure  */

.App_Slide {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    transform: translate(-100%);
    transition:All 0.2s ease-in-out;
    -webkit-transition:All 0.2s ease-in-out;
    -moz-transition:All 0.2s ease-in-out;
    -o-transition:All 0.2s ease-in-out;
}

.App_Slide-active {
    transform: translateX(-0%);
}

/* Splash Screen  */

.App_SplashScreen {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 15px;
}

.App_SplashScreen_container {
    text-align: center;
    width: 300px;
}

.App_SplashScreen_buttonContainer {
    position:relative;
}

/* Button Animation  */

.App_SplashScreen_buttonTop {
    position:absolute;
    top:0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: white;
}

.App_SplashScreen_buttonBottom {
    position:absolute;
    bottom:0;
    right: 0;
    height: 1px;
    width: 0;
    background-color: white;
}

.App_SplashScreen_buttonRight {
    position:absolute;
    top:0;
    right: 0;
    height: 0;
    width: 1px;
    background-color: white;
}

.App_SplashScreen_buttonLeft {
    position:absolute;
    bottom:0;
    left: 0;
    height: 0;
    width: 1px;
    background-color: white;
}

.App_SplashScreen_button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 6px;
    cursor: pointer;
    z-index: 300;
}

#App_ContainerCanvas {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}


/* Details users  */

.App_Slide_Container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;
    transform: translateY(-50%);
}

.App_Slide_Container label {
    font-size: 11px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: italic;
    display: inline-block;
    width: 300px;
    text-align: left;
}

.App_Slide_Container h2 {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 30px;
}

.App_Slide_Container input, .App_Slide_Container select {
    color: white;
    display: inline-block;
    width: 300px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    border: 0;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    padding: 5px 0;

}

.App_Slide_Container input[type='submit'] {
    margin-top: 50px;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    cursor: pointer;
}

.App_Slide_fields {
    padding-bottom: 15px;
}

.mainCanvas {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.App_Canvas_button{
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
    bottom: 10px;
    display: block;
    text-align: center;
    width: 300px;
    margin-top: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    cursor: pointer;
    z-index: 300;
    border: 1px solid white;
    background-color:#131313;
}

.App_Slide_CanvasContainer {
    height: 90%;
    width: 100%;
    margin: 0 auto;
    background-color: transparent ! important;
}

.App_Slide_CanvasContainer canvas{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    background-color: transparent ! important;
}